*.OBJ
c8051f_cfg.#1
c8051f_cfg.LST
c8051f_uart.LST
common_i2c.#1
common_i2c.LST
cyglink.txt
duman_RFID.#1
duman_RFID.#2
duman_RFID.#3
duman_RFID.M51
duman_RFID.hex
duman_RFID.lnp
duman_RFID.plg
duman_RFID.uvgui.Administrator
duman_RFID.uvgui_Administrator.bak
duman_RFID.uvopt
duman_RFID.uvproj
duman_RFID.wsp
duman_RFID_uvopt.bak
duman_RFID_uvproj.bak
duman_c8051rfid.IAB
duman_c8051rfid.IAD
duman_c8051rfid.IMB
duman_c8051rfid.IMD
duman_c8051rfid.PFI
duman_c8051rfid.PO
duman_c8051rfid.PR
duman_c8051rfid.PRI
duman_c8051rfid.PS
duman_c8051rfid.WK3
main.#1
main.#2
main.#3
main.LST
main.M51
mfrc522.#1
mfrc522.LST
tmp.out
*.bak


